body{
    background: url(picture/fon1.jpg) no-repeat;
    background-size: 100%;
    font-family: AR One Sans;
    font-size: 20px;
}

h1{
    color: black;
    text-align: center;
}
label{
    color: black;
}
.telo{
    text-align: center;
}